<section id="heroes">
    {{#each avatars}}
        <div class="hero-container">
            <a href="/{{name}}">
                <img src="/images/{{plant_img}}" alt="avatar">
            </a>

            <h3 class="hero-name">{{plant_name}}</h3>
        </div>
    {{/each}} <!-- this is a repeating section -->

</section>