<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <nav>
        <h1>Alli's Plants</h1>
        <a href="/">
          <i class="fas fa-home" color="#3a3a3a"></i>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>
    {{!-- <img class="logo" src="/images/logo.jpg" alt="logo"> --}}
    <footer>
    </footer>
  </body>
</html>